# usage: pip install -r rquirements.txt
jupyterlab~=4.2.5 
pandas~=2.2.2
matplotlib~=3.9.2
humanfriendly~=10.0
duckdb~=1.0.0

# dev only for lint and format 
ruff~=0.6.4  
mypy~=1.11.2
papermill~=2.6.0



